# Dependencies
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.metadata/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
